// SCSS Variables for a-quiet-workspace.com
// by Jacob Stordahl / jacobstordahl.net

//Typography
  $large:8rem;
  $medium:2rem;
  // $small:;
  $input:1rem;

//Colors
  $navy:#2B4162;
  $green:#385F71;
  $background:#F5F0F6;
  $tan:#D7B377;
  $brown:#8F754F;

//Geometry

  //Shapes Border Radius
    $br:50px;
